@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: Arial;

}

.text-custom-blue {
    color: #2ea2d1;
}

.cardRounded {
    border-color: #4fc3f7 !important;
    border-radius: 8px !important;

}

/* In your global CSS */
.overflow-y-auto::-webkit-scrollbar {
    width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 3px;
}



