@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Push Notification Animation */
@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}


* {
    font-family: Arial;

}

.text-custom-blue {
    color: #2ea2d1;
}

.cardRounded {
    border-color: #4fc3f7 !important;
    border-radius: 8px !important;

}

/* In your global CSS */
.overflow-y-auto::-webkit-scrollbar {
    width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 3px;
}



